@model InteractHealthProDatabase.Models.Case

@{
    ViewData["Title"] = "Details";
}

<h2>Case Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherRef)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
